body {
  background: linear-gradient( 45deg ,
#283c86, #45a247, #283c86);
  
}
video {
  width: 200px;
  border-radius: 5%;
  box-shadow: 5px 5px 10px black;
}
h1 {
  font-family: impact;
    font-family: serif;
    color: white;
}
button {
  box-shadow: 3px 3px 6px black;
  margin: 27px auto 0;
  position: relative;
  text-decoration: none;
  width: 150px;
  height: 50px;
  background-color: black;
  font-family: 'Anton', sans-serif;
  background: linear-gradient(to left, 
#de6161, #2657eb);
  transform: 5s;
  border: none;
  border-radius: 10px;
}
input {
  background: blue;
  box-shadow: 5px 5px 10px black;
  position: relative;
  width: 300px;
  border-radius: 5%;
  margin: 20px;
  height: 50px;
  border: 5px red inset;
  color: white;
}